@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
}
.center-div{
    padding-top: 10%;
}

.btn.btn-success{
    padding:.4em 2em ;
}
form{
    padding: 0 3em;
}

#login.title>span{
    font-size: .8em;
}